body {
  background-color: #1f2024;
  font-family: "Quicksand", sans-serif;
  color: white;
}

#softwares {
  background-color: black;
}

#about {
  background-color: #222e66;
}

#contact {
  background-color: black;
}

#footer {
  background-color: #1f2024;
}

.patent {
  background-color: black;
}

.contact {
  background-color: #1f2024;
}

.carousel-item img {
  width: auto;
  height: 65vh;
  max-height: 65vh;
}
