body {
  background-color: #1f2024;
  font-family: "Nunito", sans-serif;
  color: white;
}

#about {
  background-color: #222e66;
}

#section4 {
  background-color: black;
}

#footer {
  background-color: #1f2024;
}

.patent {
  background-color: black;
}

.contact {
  background-color: #1f2024;
}
